/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.card {
    background-color: $white;
    padding: 30px 20px;
    margin: 30px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 20vh 20px 35vh 20px 15vh;
    grid-template-rows: 20vh 35vh 15vh;
    grid-row-gap: 20px;
    border: 1px solid $gray;
    &:hover {
        border: 1px solid $raisingBlack;
        -webkit-box-shadow: 0px 11px 19px -7px rgba(114, 111, 115, 1);
        box-shadow: 0px 11px 19px -7px rgba(114, 111, 115, 1);
    }
    &__title {
        color: $onyx;
    }
    &__price {
        color: $raisingBlack;
    }
    &__header {
        border-bottom: 1px solid $spanishGray;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        padding: 20px 0;
    }
    &__footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        border-top: 1px solid $spanishGray;
    }
}

.card__list {
    padding: 20px;
    color: $onyx;
    /*display: grid;
    grid-template-rows: 1fr 2fr;
    grid-row-gap: 20px;*/
    display: -ms-grid;
    display: grid;
    grid-row-gap: 10px;
    margin-bottom: 20px;
}

.list__item {
    list-style-position: inside;
    span {
        position: relative;
        left: -10px;
    }
}

@include respond-to($bp-lg) {
    .card__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }
    .card {
        -ms-grid-rows: 20vh 25vh 10vh;
        grid-template-rows: 20vh 25vh 10vh;
    }
}